<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
  <title>To Do List</title>
  <meta name="viewport" content"width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="todo.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="todo.js"></script>
</head>
<body ng-controller="ToDoList_Controller">
  <header class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>To Do List</h1>
      </div>
    </div>
  </header>
  <section class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="text" ng-model="Test">
        <button ng-click="push(Test)">Add</button>
        <h3>{{Test}}</h3>
          <div ng-repeat="item in list" class="row">
            <div class="col-xs-2">
              <input ng-model="item.done" type="checkbox">
              </div>
            <div ng-class="{done: item.done}" class="col-xs-10">{{item.text}}</div>
          </div>
          <button ng-click="remove()">Remove Completed Tasks</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </section>
  <footer class="container">
    <div class="row">
      <div class="col-xs-12"></div>
    </div>
  </footer>
</body>
</html>