<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
  <title>To Do List</title>
  <meta name="viewport" content"width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="todo.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/angular.bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="todo.js"></script>
</head>
<body ng-controller="ToDoList_Controller">
  <section class="container">
    <div class="row header">
      <div class="col-xs-12">
        <h1>TO DO APP</h1>
      </div>
    </div>
    <div class="row list_items" ng-repeat="item in list track by $index" >
      <div class="col-xs-1">
        <input type="checkbox" class="checkbox" ng-model="item.done" tooltip="Completed?"  tooltip-popup-delay='1000' tooltip-trigger="mouseenter" />
      </div>
      <div class="col-xs-11 items">
        <h2 ng-class="{done: item.done}">{{item.text}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 input_field">
        <input class="input" type="text" placeholder="I need to..." ng-model="Text">
      </div>
      <div class="col-xs-4 add_button" ng-click="adding(Text)">
        <h2 class="add_btn">ADD BUTTON</h2>
      </div>
    </div>
    <div class="row clear_button">
      <div class="col-xs-12" ng-click="removing()">
        <h1>CLEAR BUTTON</h1>
      </div>
    </div>
  </section>
</body>
</html>