.col-xs-12{
  height: 50px;
  background-color: blue;
  text-align: center;
}
.col-md-6{
  height: 400px;
  background-color: orange;
  text-align: left;
}
.col-md-3{
  background-color: green;
  text-align: left;
}
.col-xs-2{
  height: 20px;
  background-color: yellow;
  text-align: left;
}
.col-xs-10{
  height: 20px;
  background-color: purple;
  text-align: left;
}
.done{
  color: grey;
  text-decoration: line-through;
}
button{
  margin: 15px;
}